%footer
  .container
    .row
      .span12
        = link_to "#", :id => "go-to-top", :class => "pull-right" do
          Back To Top
          %i.icon-arrow-up.icon-white
        %p
          &copy; Company 2012
